@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
  --primary-white: #fff;
  --primary-black: rgba(255, 255, 255, 0);
  --skin: #f1c27d;
}

body {
  font-family: "Indie Flower" sans-serif;
}

/********NAVBAR************/

.nav-bg {
  background-color:  #177e89 !important; 
}


/*-------- MENU LINKS -----*/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 3px solid var(--primary-black);
}

.navbar-brand {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem !important;
  color: #edc951 !important; 
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--skin);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--skin);
  font-size: 1.2rem;
}


